.mainContent {
  width: 888px;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.loadmoreButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  background-color: #fff;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
}

.loadmoreButton:hover,
.loadmoreButton:focus {
  border: 1px solid rgb(228, 72, 72);
}
