*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #101828;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1;
  cursor: default;
}
span {
  cursor: default;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 200px;
  transition: all 250ms ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  padding-top: 76px;
}

label:has(input[type='checkbox'], input[type='radio']) {
  cursor: pointer;
}
