*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #101828;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 200px;
  transition: all 250ms ease-in-out;
  border: none;
  outline: none;
}

main {
  padding-top: 76px;
}
